# 保留文件夹结构，但忽略其中的所有文件
.gitkeep

# 环境配置
.env
.env.local
.env.*.local
.envrc
.envrc.local

# 忽略所有脚本文件
*.sh
*.bat
*.ps1

# 忽略备份和临时文件
*.bak
*.tmp
*.temp
*.swp

# 忽略所有日志文件
*.log

# 忽略所有数据文件
*.csv
*.xlsx
*.xls
*.xml
*.db
*.sqlite

# Windows 系统生成的垃圾文件
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux 系统缓存文件
*~

# 忽略 macOS/Linux 上的 .DS_Store (有时候拷贝文件会有)
.DS_Store

# 构建目录
dist/
build/

# VS Code 编辑器配置文件夹
.vscode/

# Markdown 编辑器生成的缓存（有些编辑器会生成）
*.preview/
*.md.cache

# 忽略 LaTeX 编译中间文件
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz

# ----------python----------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
Projects/**/*env*

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.nox/
.tox/
.mypy_cache/
.ipynb_checkpoints/
.ipynb_vendored/

# ----------Node.js----------
node_modules/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*